

@import "../variables";
@import '../helpers/functions';
@import "../helpers/mixins";

.pricing {
  @include flex(center, center, nowrap);

  &__inner {
    max-width: px-to-rem(314px);
    &--hdl {
      display: flex;justify-content: center;
      font-family: 'Raleway' , sans-serif;
      font-size:  px-to-rem(36px);
      font-weight: 400;
      color: $font-color;
      margin-bottom: 0;
      margin-top: px-to-rem(53.34px);
    }
  }
}