@import "../variables";
@import "../helpers/functions";
@import "../helpers/mixins";

.questions {
  &__inner {
    max-width: px-to-rem(316px); //wysrodkowalismy
    margin-inline: auto;   //wysrodkowalismy

    @include flex(center, flex-start);
    flex-direction: column;
  }
}